@import "tailwindcss";

@theme {
  --color-primary: #0c2070;
  --color-secondary: #365ca1;
  --color-accent: #f8b719;
  --color-background: #ffffff;
  --font-sans: var(--font-manrope), sans-serif;
}

:root {
  --background: #f9fafb;
  --foreground: #111827;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #f9fafb;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 140px; /* Offset for the sticky header */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}